$caret-color1: #de9648;

$background-color-zyxx: #de9648;
$background-color-zyxx1: #f6f1ec;
$background-color-zyxx2: #e2e7d0;
$background-color-zyxx3: #cad1b2;
$background-color-zyxx4: #e2dddc;
$background-color-zyxx5: #efaa60;
$background-color-zyxx6: #ffffff;
$background-color-zyxx7: rgba(239, 236, 226, 0.2);
$background-color-zyxx8: rgba(222, 150, 72, 0.5);
$background-color-zyxx9: rgba(208, 186, 179, 0.14);
// loading
$background-color-zyxx10: rgba(0, 0, 0, 0.20);
$background-color-zyxx11: rgba(255, 255, 255, 0.80);
// pop
$background-color-zyxx12: rgba(0, 0, 0, 0.72);
$background-color-zyxx13: #ccb8b7;
$background-color-zyxx14: rgba(255, 255, 255, 0.9);
// tag 渐变
$background-color-zyxx15: linear-gradient(269deg, #bfd7e4 0%, #aeccdc 100%);
$background-color-zyxx16: linear-gradient(90deg,
#ccd7a7 0%,
#dae3bc 100%);

$background-color-zyxx17: linear-gradient(269deg,
#ece1c9 0%,
#e2d3b4 100%);

$background-color-zyxx18: linear-gradient(269deg,
#e7d7bf 0%,
#e0c8a5 100%);

$background-color-zyxx19: linear-gradient(90deg,
#b5c1f1 0%,
#c4cff4 100%);

$background-color-zyxx20: linear-gradient(90deg,
#f1d9b5 0%,
#f4c4c4 100%);

$background-color-zyxx21: linear-gradient(90deg,
#f1cfb5 0%,
#f4d8c4 100%);
$background-color-zyxx22: rgba(255,255,255,0.90);
$background-color-zyxx23: rgba(208,186,179,0.14);
$background-color-zyxx24: rgba(204,184,183,0.5);
$background-color-zyxx25: rgba(222,150,72,0.50);
$background-color-zyxx26: rgba(215,157,97,0.40);
$background-color-zyxx27: rgba(222,150,72,0.08);

$font-color-zyxx: #ab8987;
$font-color-zyxx1: #713A30;
$font-color-zyxx2: #2f0000;
$font-color-zyxx3: #e2dddc;
$font-color-zyxx4: #333333;
$font-color-zyxx5: #999999;
$font-color-zyxx6: #ffffff;
$font-color-zyxx7: #2a2a2a;
$font-color-zyxx8: #666666;
$font-color-zyxx10: #de9648;
$font-color-zyxx11: #efaa60;  
$font-color-zyxx12: rgba(171, 137, 135, 0.6);
$font-color-zyxx14:  #C4C4C4; 

$box-shodow-zyxx: rgba(222, 150, 72, 0.5);
$box-shodow-zyxx1: rgba(211, 170, 160, 0.1);
$box-shodow-zyxx2: rgba(208, 147, 83, 0.4);
$box-shodow-zyxx3: rgba(228, 199, 193, 0.5);
$box-shodow-zyxx4: rgba(208, 147, 83, 0.3);

$border-zyxx: #e2e7d0;
$border-zyxx1:#de9648;
$border-zyxx2: rgba(222, 150, 72, 0.4);
$border-zyxx3: rgba(222, 150, 72, 0.6);
$border-zyxx4: #f1d8bd;
$border-zyxx5: #e5caa2;
$border-zyxx6: rgba(215,157,97,0.40);
$border-zyxx7: rgba(255,255,255,0.50);
$border-zyxx8: #f6f1ec;

$border-color: #e2dddc;
$border-color1: #efaa60;
$border-color2: rgba(222, 150, 72, 0.4);
$border-color3: rgba(215, 157, 97, 0.4);
$border-color4: rgba(255, 255, 255, 0.5);


$border-zyxx-left: rgba(222, 150, 72, 0.4); 